.form-control{
    width: 200px;
}
#warning
{
    color: #f00;
    font-size: 20px;
}

input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #e8edff;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
        color: rgb(87, 139, 163);
    }

label.error{
    color:red;
    opacity: 0.5;
    padding: 10px;
}

h2.WeatherForecast {
    color: rgb(63, 114, 137);
}

h5.WeatherForecast {
    color: rgb(87, 139, 163);
}

th.WeatherForecast {
  font-weight: normal;
  color: #039;
  padding: 10px 15px;
}
td.WeatherForecast {
  color: #669;
  border-top: 1px solid #e8edff;
  padding: 10px 15px;
}
tr.WeatherForecast:hover td {
    background: #ccddff;
}
