@{
    ViewBag.Title = "MyWeatherForecast";
}
<link rel="stylesheet" href="~/Content/WeatherForecast.css">
<br />
<br />


@using (Ajax.BeginForm("GetWeatherForecast", "Home", new AjaxOptions { UpdateTargetId = "resultWeatherForecast" }, new { @id = "formCity"}))
{
    @Html.TextBox("cityName", "", new { id = "city", name = "city", @class = "form-control", placeholder = "Введите название города", required = "true", minlength = "3" })
    <button type="submit" id="buttonSearchWeather">Найти</button>
}


<div id="resultWeatherForecast"></div>

<div>
    @{
        var citiesCookie = Request.Cookies["cities"];
        if (citiesCookie != null)
        {
            <hr align="left" width="400" />
            <h5>Последние просмотренные города</h5>
            foreach (var item in citiesCookie.Values)
            {
                if (item != null)
                {
                    string id = item.ToString();string city = citiesCookie.Values[id];
                    @Ajax.ActionLink(@city, "GetWeatherForecast", "Home", new { cityName = @city }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "resultWeatherForecast" })
                    @Html.Raw("     ");
                }
            }
        }
    }
</div>
