@{
    ViewBag.Title = "MyWeatherForecast";
}
<link rel="stylesheet" href="~/Content/WeatherForecast.css">
<br />
<br />

<div class="form">
    @using (Ajax.BeginForm("GetWeatherForecast", "Home", new AjaxOptions {UpdateTargetId = "resultWeatherForecast"}, new {@class = "form-inline", @id = "formCity"}))
    {
        <div class="row">
            <div class="form-group">
                @Html.TextBox("cityName", "", new {id = "city", name = "city", @class = "form-control", placeholder = "Введите название города", required = "true", minlength = "3"})
            </div>
            <button class="btn btn-default" type="submit" id="searchCity">Найти</button>
        </div>
        <div class="row">
            <label for="city" class="error" id="city-error"></label>
        </div>
    }
</div>


<div id="resultWeatherForecast"></div>

<div>
    @{
        var citiesCookie = Request.Cookies["cities"];
        if (citiesCookie != null)
        {
            <hr id="lineBeforCookie" align="left" width="400" />
            <h5>Последние просмотренные города</h5>
            foreach (var item in citiesCookie.Values)
            {
                if (item != null)
                {
                    string city = citiesCookie.Values[item.ToString()];
                    @Ajax.ActionLink(@city, "GetWeatherForecast", "Home", new { cityName = @city }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "resultWeatherForecast" })
                    @Html.Raw("     ");
                }
            }
        }
    }
</div>
